<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VICO - PT. Maju Terus</title>
    <meta name="robots" content="noindex,nofollow,noarchive">
    <meta name="googlebot" content="noindex,nofollow,noarchive">
    <meta name="bingbot" content="noindex,nofollow,noarchive">
    <meta name="msnbot" content="noindex,nofollow,noarchive">
    <meta name="slurp" content="noindex,nofollow,noarchive">
    <meta name="teoma" content="noindex,nofollow,noarchive">
    <meta name="yahoobot" content="noindex,nofollow,noarchive">
    <link rel="SHORTCUT ICON" href="~/images/vico.jpg" type="image/x-icon">

    <link rel="stylesheet" href="~/css/StyleForbidden.css" />
</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    @RenderSection("Scripts", required: false)
</body>
</html>
