@model VICO_Project.Models.Cuti

@{
    ViewData["Title"] = "Create";
    Layout = "_StaffLayout";
}

<section class="get-in-touch">
    <h1 class="title">Add Form Libur Jaga</h1>
    <form class="contact-form row" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-field col-lg-6">
            <input id="name" asp-for="Name" class="input-text js-input" type="text" required>
            <label class="label" asp-for="Name">Name</label>
        </div>
        <div class="form-field col-lg-6 ">
            <select asp-for="Departemen" class="input-text js-input" asp-items="ViewBag.RegionId" required>
                <option></option>
                <option>Operasi</option>
                <option>Keuangan</option>
                <option>Humas</option>
                <option>Umum</option>
                <option>Administrasi</option>
                <option>Barang dan Jasa</option>
            </select>
            <label class="label" asp-for="Departemen">Department</label>
        </div>
        <div class="form-field col-lg-6">
            <input type="date" id="name" asp-for="Awal_Libur" class="input-text js-input" required>
            <label class="label" asp-for="Awal_Libur" class="control-label">Awal_Libur</label>
            <span asp-validation-for="Awal_Libur" class="text-danger"></span>
            <span></span>
        </div>
        <div class="form-field col-lg-6">
            <input type="date" id="name" asp-for="Akhir_Libur" class="input-text js-input" required>
            <label class="label" asp-for="Akhir_Libur" class="control-label">Akhir_Libur</label>
            <span asp-validation-for="Akhir_Libur" class="text-danger"></span>
        </div>
        <div class="form-field col-lg-6 ">
            <select asp-for="Priode" class="input-text js-input" asp-items="ViewBag.PriodeId" required>
                <option></option>
                <option>Januari</option>
                <option>Febuari</option>
                <option>Maret</option>
                <option>April</option>
                <option>Mei</option>
                <option>Juni</option>
                <option>Juli</option>
                <option>Agustus</option>
                <option>September</option>
                <option>Oktober</option>
                <option>November</option>
                <option>Desember</option>
            </select>
            <label class="label" asp-for="Priode">Periode</label>
        </div>
        <div class="form-field col-lg-6 ">
            <select asp-for="Status" class="input-text js-input" asp-items="ViewBag.RegionId" required>
                <option></option>
                <option>Pending</option>
            </select>
            <label class="label" asp-for="Status">Status</label>
        </div>
        @*<div class="form-field col-lg-12">
            <input id="message" class="input-text js-input" type="text" required>
            <label class="label" for="message">Message</label>
        </div>*@
        <div class="form-field col-lg-12">
            <input class="submit-btn" type="submit" value="Submit">
        </div>
    </form>
</section>


<div> <button>
    <a asp-action="Index">Back to List</a>
</button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
