@model VICO_Project.Models.Province

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Province</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departemen" class="control-label"></label>
                <select asp-for="Departemen" class="form-control" asp-items="ViewBag.Status">
                    <option></option>
                    <option>Keuangan</option>
                    <option>Operasi</option>
                    <option>Umum</option>
                    <option>Humas</option>
                    <option>Marketing</option>
                    <option>Administrasi</option>
                    <option>Barang Dan Jasa</option>
                    <span asp-validation-for="Departemen" class="text-danger"></span>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Priode" class="control-label"></label>
                <input asp-for="Priode" class="form-control" />
                <span asp-validation-for="Priode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="ViewBag.Status">
                    <option></option>
                    <option>Approved</option>
                    <option>Valid</option>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}